# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/

# Environment & OAuth Secrets
.env
auth/token.json
auth/credentials.json
*.json
!pyproject.toml
!.env.example

# IDE
.vscode/
.idea/
